/* Estilização do header */
* {
    font-family: "Playwrite DK Uloopet Guides", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Estilização do header */
.cabecalho {
    background-color: #5f2568;
    /* Cor de fundo */
    color: #ffffff;
    padding: 1.5rem;
    /* Poderia ser 24px */
    /* alinhamento de itens */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    /* Header Fixo */
    position: sticky;
    /* Posicionamento do header para sobrepor os outros elementos  */
    left: 0;
    top: 0;
    z-index: 999;
    /* Eixo z - profundidade do elmento */
}

/* Logo do header */
.div-logo img {
    width: 35%;
    /* Usando  o % para diminuir seu tamanho */
}

/* Estilização do botão header */
.div-button a button {
    width: 5rem;
    /* Poderia ser 80 px */
    padding: 0.5rem;
    /* 8px - preenchimento */
    background-color: #b37eb5;

    border: none;
    font-weight: 700;
    border-radius: 5px;

}

.section-1 {
    padding: 5rem;
    background-image: url(imagens/bts-foto-reproducao-tvpop--rima3jpz3w3xsht0mtex7habfjx17uekq07164eb6o.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.div01 {
    background-color: #b37eb5;
    color: #5f2568;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
}

.div01 p {
    margin-top: 1rem;
}

.ul-div01 {
    text-decoration: none;
    background-color: #b37eb5;
    color: #ffffff;
    padding: 2px;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 10px;
    border-radius: 5px;
}

.div01 li a {

    text-decoration: none;
    background-color: #5f2568;
    color: #b37eb5;
    padding: 4px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 5px;
}

.div01 ul li {
    font-weight: 480;
    font-family: Arial, Helvetica, sans-serif;
}

.ul-div01 li {
    margin: 15px 5px;
}

.div02 {
    padding: 1rem;
    width: 25%;
    height: 20rem;
    min-width: 299px;
    background: linear-gradient(180deg, rgb(136, 56, 190) 0.33%, rgb(145, 78, 165)100%), url(imagens/BTS.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.div02 img {
    width: 110%;
    height: 130%;
}

.fa-solid fa-bts,
.fa-solid fa-army {
    color: #b37eb5;
    font-size: 1.3rem;
}


.img-div {
    padding: 3%;
    background-image: url(imagens/video_preview_0000.avif);
    background-position: center;
    background-size: cover;
}

.section-2,
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #b37eb5;
    flex-wrap: wrap;
}

.caixa {
    width: 25%;
    height: 22rem;
    background-color: #9b6c9a;
    min-width: 299px;
    font-size: 1.2rem;
    color: #d0b2d1;
    box-shadow: 10px 10px 20px rgb(113, 56, 131);
    cursor: pointer;
}

.caixa:hover {
    box-shadow: 12px 12px 22px rgb(150, 83, 170);
    transition: o.8s;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem;
    background-color: #9b6c9a;
    flex-wrap: wrap;
}



.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5rem;
    background-color: #9b6c9a;
    flex-wrap: wrap;
}

.content-text {
    text-align: start;
    margin: 1rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.7rem;
}

.icon-div03 {
    color: rgb(134, 11, 172);
    font-size: 3rem;
    margin-top: 1.2rem;
}

.button-div3 a button {
    padding: 0.5rem;
    background-color: #9b6c9a;
    color: #5f2568;
    font-weight: 600;
    margin: 1rem 0;
}

.div-sec3,
.div03 {
    text-align: center;
    padding: 1rem;
}

.text-div03 p {
    color: #5f2568;
}

.batata {
    background-color: #9b6c9a;
    color: #5f2568;
}

.rodape {
    background-color: #9b6c9a;
    padding: 2rem;
    text-align: center;
    font-size: 1.1rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.social-media {
    padding: 1.5rem;
}

.social-media i {
    color: #703681;
    font-size: 2rem;
    margin: 0, 5rem;
}

.line {
    width: 60%;
    margin: 0.5rem auto;
    background-color: #5d2f6b;
    border: none;
    height: 2px;
}

.div-list ul li a {
    color: #d0b2d1;
    text-decoration: none;
}

.div-list ul li {
    margin-bottom: 0.7rem;
}

.div-list ul li a:hover {
    color: #9b6c9a;
    transition: 0.8s;
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
    }
}

.caixa img {
    width: 100%;
    height: 35%;
}

.caixa p {
    margin: 0.5rem 1rem;
    color: #5f2568;
}

.caixa h3 {
    color: #e2b3e4;
    font-weight: 700;
    margin-left: 1rem;
}

.caixa button {
    padding: 0.5rem;
    background-color: #9b6c9a;
    color: #5f2568;
    font-weight: 500;
    margin: 1rem 0;

}

.whatsapp img { /* alterando tamanho do icon whatsapp */
    width: 50px; /* largura do icon */
}

.whatsapp img:hover {
    width: 60px;
    transition: 0.8s;
}

.whatsapp { /* div guarda o icon whatsapp */
    position: fixed; /* posicionamento fixo */
    right: 25px; /* posicionamento à direita (25px)*/
    bottom: 25px; /* posicionamento à 25px do bottom */
}


